name: tests

on: [push, pull_request, workflow_dispatch]

jobs:
  formatting:
    name: Check Black Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install black
      - name: Check code formatting with black
        run: |
          black --check --diff --color django_nextjs tests setup.py
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        django-version: ["3.2", "4.0", "4.1"]
        exclude:
          - python-version: "3.7"
            django-version: "4.0"
          - python-version: "3.7"
            django-version: "4.1"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install django~=${{ matrix.django-version }}
          pip install -e ".[dev]"
      - name: Run tests
        run: |
          py.test --cov
